<h1>My About Page</h1>
<p>My name is Kellyn Flanagan, and I'm a Sr. Interaction Designer at CareerBuilder. I LOVE my job, but I love the people more!</p>
<p>Find me in app/views/welcome/about.html.erb</p>
<a href="http://www.linkedin.com/kellynflanagan">My LinkedIn Page</a>
<a href="https://dribbble.com/" target="_blank"><img src="https://d13yacurqjgara.cloudfront.net/users/22069/screenshots/1882469/see__.jpg" alt="This is a cool image I found on dribble" /></a>
