
     <!-- Nav Bar -->

      <div class="row">
        <div class="large-12 columns">
          <div class="nav-bar right">
           <ul class="button-group">
            <li><a href="http://showcase.kellynflanagan.com/welcome/index.html" class="button">Home</a></li>
             <li class="active"><a href="http://showcase.kellynflanagan.com/welcome/about.html" class="button">About Me</a></li>
            </ul>
          </div>
          <h1>My TTS Showcase Project <small>About Page</small></h1>
          <hr />
        </div>
      </div>
     
      <!-- End Nav -->

       <!-- Main Page Content and Sidebar -->
      <div class="row">

        <!-- Main Content -->
        <div class="large-9 columns" role="content">
            <h3>Hi! I'm Kellyn Flanagan</h3>
            <p>Wife. Daughter. Sister. Friend. Mentor. Lover of Dachshunds and Salty Air. Designer. Yogi. Wanderer. And now....Developer?</p>
            <p>By day, I'm an Interaction Designer. I love my job, and I try really hard everyday to not just be good, but great at it. But, I also do not want my job define me or my life.</p>
            <p>I believe life is measured in how much of a difference you make with people, not power, position, or title. We should be asking oursleves everyday "At the end of my life, how many people will line up and thank me for making their life better?"</p>
            <p>In the end, this line could be deep or wide, but I hope I remember to spent my life making it both.</p>

        </div>
        <div class="large-3 columns">
            <img src="https://twitter.com/kellyndesigns/status/482361688118026240/photo/1" />
         </div>
        <!--end main content-->

      </div>
      <!--end row div -->

      <!--Footer-->
        <footer class="row">
        <div class="large-12 columns">
          <hr />
          <div class="row">
            <div class="large-6 columns">
              <p>© Copyright Kellyn Flanagan 2015.</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="http://showcase.kellynflanagan.com/welcome/index.html" class="button">Home</a></li>
                <li class="active"><a href="http://showcase.kellynflanagan.com/welcome/about.html" class="button">About Me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>