<h1>My About Page</h1>
<p>My name is Kellyn Flanagan, and I'm a Sr. Interaction Designer at CareerBuilder. I LOVE my job, but I love the people more!</p>
<p>Find me in app/views/welcome/about.html.erb</p>
<h2>Email me at kellyn.flanagan@careerbuilder.com</h2>