<style type="text/css" media="all">
body{
background-color: #EAF8F8;
}


.button {
border-style: solid;
border-width: 0;
cursor: pointer;
font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
font-weight: normal;
line-height: normal;
margin: 0 0 1.25rem;
position: relative;
text-decoration: none;
text-align: center;
border-radius: 0;
display: inline-block;
padding-top: 1rem;
padding-right: 2rem;
padding-bottom: 1.0625rem;
padding-left: 2rem;
font-size: 1rem;
background-color: #008CBA;
border-color: #007095;
color: #FFFFFF;
transition: background-color 300ms ease-out;
}

.button-group{
    list-style:none;
}

a{
color: #1B2A41;
text-decoration: none;
line-height: inherit;
}

a.active{
color:#89B0AE;
}

img{
    margin-top:45px;

}

.pic2{
    height:250px;
    margin-top:15px;
}

.author{
    color:#003366;
}

.panel {
border-style: solid;
border-width: 1px;
border-color: #d8d8d8;
margin-bottom: 1.25rem;
padding: 1.25rem;
background: #f2f2f2;
color: #324A5F;
}

</style>
     <!-- Nav Bar -->

      <div class="row">
        <div class="large-12 columns">
          <div class="contain-to-grid sticky">
          <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
            <ul class="title-area">
              <li class="name">
              <h1><a href="#">My TTS Project</a></h1>
              </li>
            </ul>
            <section class="top-bar-section">
              <ul class="right">
                <li class="has-dropdown">
                  <a href="#">Hello, <%= @name %></a>
                    <ul class="dropdown">
                      <li><a href="#">My Profile</a></li>
                    <li class="active"><a href="#">Account settings</a></li>
              </ul>
              </li>
                <li><a href="../welcome/index">Home</a></li>
                <li class="active"><a href="#">About</a></li>
                <li><a href="../welcome/portfolio">Portfolio</a></li>
                <li><a href="../welcome/contact">Contact</a></li>
              </ul>
            </section>
          </nav>
          </div><!--end sticky column-->
        </div><!--end column-->
      </div>
     
      <!-- End Nav -->

       <!-- Main Page Content and Sidebar -->

      <div class="row">

               <!--begin breadcrumbs-->
       <div class="large-12 columns">
      <h2><small>About Me</small></h2>
       <ul class="breadcrumbs">
        <li><a href="../welcome/index" alt="Home page">Home</a></li>
        <li class="current"><a href="#" alt="About page">About</a></li>
        <li><a href="../welcome/portfolio" alt="Portfolio page">Portfolio</a></li>
        <li><a href="../welcome/contact" alt="Contact page">Contact</a></li>
       </ul>
     </div>
     <!--End breadcrumbs-->

        <!-- Main Content -->
        <div class="large-6 columns" role="content">
          <p>My name is <%= @name %> </p>
            <h3>Hi! I'm Kellyn Flanagan</h3>
            <p>Wife. Lover of Dachshunds and Salty Air. Designer. Yogi. Wanderer. And now....Developer?</p>
            <p>What defines me? I believe life is measured in how much of a difference you make with people, not power, position, or title. We should be asking oursleves everyday <i>"At the end of my life, how many people will line up and thank me for making their life better?"</i></p>
            <p>In the end, this line could be deep or wide, but I hope I remember to spent my life making it both.</p>

        </div>
        <div class="large-6 columns">
            <img src="<%= image_path ('thewalk.jpg') %>" alt="pic of me and my girls at the walk"/>
            <caption><i><small>Part of my high school youth group</small></i></caption>
         </div>
          <div class="large-12 columns">
            <img class=" pic2" src="<%= image_path ('ryanani.jpg') %>" alt="pic of me and my husband"/>
            <br />
            <caption><i><small>My Husband Ryan and I</small></i></caption>
         </div>
        <!--end main content-->

      </div>
      <!--end row div -->

      <!--Footer-->
        <footer class="row">
        <div class="large-12 columns">
          <hr />
          <div class="row">
            <div class="large-6 columns">
              <p>© Copyright Kellyn Flanagan 2015.</p>
            </div>
          </div>
        </div>
      </footer>