<style type="text/css" media="all">
body{
background-color: #EAF8F8;
}

.button {
border-style: solid;
border-width: 0;
cursor: pointer;
font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
font-weight: normal;
line-height: normal;
margin: 0 0 1.25rem;
position: relative;
text-decoration: none;
text-align: center;
border-radius: 0;
display: inline-block;
padding-top: 1rem;
padding-right: 2rem;
padding-bottom: 1.0625rem;
padding-left: 2rem;
font-size: 1rem;
background-color: #008CBA;
border-color: #007095;
color: #FFFFFF;
transition: background-color 300ms ease-out;
}

.button-group{
    list-style:none;
}

a{
color: #1B2A41;
text-decoration: none;
line-height: inherit;
}

a.active{
color:#89B0AE;
}

img{
    margin-top:-25px;
    height:150px;

}

.author{
    color:#003366;
}

.panel {
border-style: solid;
border-width: 1px;
border-color: #d8d8d8;
margin-bottom: 1.25rem;
padding: 1.25rem;
background: #f2f2f2;
color: #324A5F;
}
</style>

     <!-- Nav Bar -->

      <div class="row">
        <div class="large-12 columns">
          <div class="nav-bar right">
           <ul class="button-group">
            <li class="active"><a href="../welcome/index" class="button">Home</a></li>
             <li><a href="../welcome/about" class="button">About Me</a></li>
            </ul>
          </div>
          <h1>My TTS Project</h1>
          <hr />
        </div>
      </div>
     
      <!-- End Nav -->
     
     
      <!-- Main Page Content and Sidebar -->
     
      <div class="row">

      <!--begin breadcrumbs-->
       <div class="large-8 columns">
      <h2><small>Home</small></h2>
       <ul class="breadcrumbs">
        <li class="current"><a href="#" alt="Home page">Home</a></li>
        <li><a href="../welcome/about" alt="About page">About</a></li>
       </ul>
     </div>
     <!--End breadcrumbs-->
     
        <!-- Main Blog Content -->
        <div class="large-9 columns" role="content">
     
          <article>
     
            <h3><a href="#">Going Back to the Land of Aloha</a></h3>
            <h4 class="author"><small>Written by <a href="http://showcase.kellynflanagan.com/welcome/about.html">Kellyn Flanagan</a> on January 17, 2015.</small></h4>
     
            <div class="row">
              <div class="large-6 columns">
                <p>Last May, I took my husband for his first trip to my hometown of Kailua, Oahu, Hawaii. It was a whirlwind trip across 3 different islands, to reconnect with friends and give Ryan a taste of Hawaii.</p>
              </div>
              <!--end div class large 6 columsn-->
              <div class="large-6 columns">
                <img src="http://biotechinsights.com/wp-content/uploads/2014/12/kilauea-lava-flow-carl-shaneff.jpg" />
              </div>
              <div class="large-12 columns">
              <p>For our first stop, we flew to Pahoa, Hawaii (The big island). We rented a yurt made from lava rocks a few miles from volcano national park. We spend 5 days visiting Kīlauea, Waipio Valley, and took a sunset trip to the summit of Mauna Kea, the tallest mountain on earth when you start from the seabed. We were staying on the land of a family friend, and mainly picked our meals from his garden and trees. We picniced on new earth (only 13 years old), sunbathed on black sand beaches, and biked in rainy Hilo. Then, we moved on to Maui.</p>
               <p>In Maui, we based ourselves in an octagonal hut on an aromatheraphy farm in Makawao. The most amazing part of this place was that depending on the time of day, the smell that danced into our room would change. Early morning was hibiscus and roses, through the day it was plumeria and lemon gerbana, and by nighttime the smell from the lavender fields would fill the room. We drove the road to Hana, visited the seven pools, drove to the top of Haleakalā, and surfed and swam in Lahaina. Surfing was by far our favorite thing to do. It was hard to leave Maui, but it was time to go visit my childhood home back on Oahu!</p>
                <p>Back on Oahu, we visited Waikiki because my husband had never been there. We hiked and swam some more, and visited old friends and my old house 3 blocks inland from the sea in Kailua. The people living in my house now invited us in for lunch and swapping of stories, and gave me some seeds from the trees of the yard. We toured Pearl Harbor, the valley of the temples, and drove up to North Shore and watched the sunset while the beach shook with the powerful force of the huge waves.</p>
                <p>Ever since we left, I have been planning our next trip back. Mahalo for reading.</p>
            </div>
            </div>
            <!--end div class row-->
     
          </article>
     
        </div>
     
        <!-- End Main Content -->
     
     
        <!-- Sidebar -->
     
        <aside class="large-3 columns panel">
     
          <h5>Categories</h5>
          <ul class="side-nav">
            <li><span class="radius secondary label"><a href="#">Travel</a></span></li>
            <li><span class="radius secondary label"><a href="#">Fun</a></span></li>
            <li><span class="radius secondary label"><a href="#">Sun</a><span></li>
          </ul>
     
        </aside>
        <!-- End Sidebar -->
      </div>
     
      <!-- End Main Content and Sidebar -->
     
     
      <!-- Footer -->
     
      <footer class="row">
        <div class="large-12 columns">
          <hr />
          <div class="row">
            <div class="large-6 columns">
              <p><small>© Copyright Kellyn Flanagan 2015.</small></p>
            </div>
          </div>
        </div>
      </footer>
