     <!-- Nav Bar -->

      <div class="row">
        <div class="large-12 columns">
          <div class="contain-to-grid sticky">
          <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
            <ul class="title-area">
              <li class="name">
              <h1><a href="#">My TTS Project</a></h1>
              </li>
            </ul>
            <section class="top-bar-section">
              <ul class="right">
                <li class="has-dropdown">
                  <a href="#">Hello, <%= @name %></a>
                    <ul class="dropdown">
                      <li><a href="#">My Profile</a></li>
                    <li class="active"><a href="#">Account Settings</a></li>
              </ul>
              </li>
                <li><a href="#">Home</a></li>
                <li><a href="../welcome/about">About</a></li>
                <li class="active"><a href="">Portfolio</a></li>
                <li><a href="../welcome/contact">Contact</a></li>

              </ul>
            </section>
          </nav>
          </div><!--end sticky column-->
        </div><!--end column-->
      </div>
     
      <!-- End Nav -->

            <div class="row">
                <div class = "large-12 columns">
                </div>
            </div>