     <style type="text/css" media="all">
body{
background-color: #EAF8F8;
}

.button {
border-style: solid;
border-width: 0;
cursor: pointer;
font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
font-weight: normal;
line-height: normal;
margin: 0 0 1.25rem;
position: relative;
text-decoration: none;
text-align: center;
border-radius: 0;
display: inline-block;
padding-top: 1rem;
padding-right: 2rem;
padding-bottom: 1.0625rem;
padding-left: 2rem;
font-size: 1rem;
background-color: #008CBA;
border-color: #007095;
color: #FFFFFF;
transition: background-color 300ms ease-out;
}

.button-group{
    list-style:none;
}

a{
color: #1B2A41;
text-decoration: none;
line-height: inherit;
}

a.active{
color:#89B0AE;
}

img{
    margin-top:-25px;
    height:150px;

}

.author{
    color:#003366;
}

.panel {
border-style: solid;
border-width: 1px;
border-color: #d8d8d8;
margin-bottom: 1.25rem;
padding: 1.25rem;
background: #f2f2f2;
color: #324A5F;
}
</style>

     <!-- Nav Bar -->

      <div class="row">
        <div class="large-12 columns">
          <div class="contain-to-grid sticky">
          <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
            <ul class="title-area">
              <li class="name">
              <h1><a href="#">My TTS Project</a></h1>
              </li>
            </ul>
            <section class="top-bar-section">
              <ul class="right">
                <li class="has-dropdown">
                  <a href="#">Hello, <%= @name %></a>
                    <ul class="dropdown">
                      <li><a href="#">My Profile</a></li>
                    <li class="active"><a href="#">Account Settings</a></li>
              </ul>
              </li>
                <li><a href="../welcome/index">Home</a></li>
                <li><a href="../welcome/about">About</a></li>
                <li class="active"><a href="">Portfolio</a></li>
                <li><a href="../welcome/contact">Contact</a></li>

              </ul>
            </section>
          </nav>
          </div><!--end sticky column-->
        </div><!--end column-->
      </div>
     
      <!-- End Nav -->


      <div class="row">

      <!--begin breadcrumbs-->
       <div class="large-8 columns">
      <h2><small>Contact</small></h2>
       <ul class="breadcrumbs">
        <li><a href="../welcome/index" alt="Home page">Home</a></li>
        <li><a href="../welcome/about" alt="About page">About</a></li>
        <li class="current"><a href="" alt="About page">Portfolio</a></li>
        <li><a href="../welcome/contact" alt="Contact page">Contact</a></li>
       </ul>
     </div>

 </div><!--end row-->
     <!--End breadcrumbs-->

            <div class="row">
                <div class = "large-12 columns">
                          <h3>Job Search for Children</h3>
                          <ul class="inline-list">
                            <li><a href="https://childjobsearchkellyn.herokuapp.com/">Child Job Search App</a></li>
                            <li><a href="https://github.com/JarlFlanagan/childlabor.git">GitHub repo</a></li>
                          </ul>
                </div>
                <div class = "large-12 columns">
                          <h3>Kitten Photo Sharing App</h3>
                          <ul class="inline-list">
                            <li><a href="https://sharekittenphotos.herokuapp.com/users/sign_in">Share Kitten App</a></li>
                            <li><a href="https://github.com/JarlFlanagan/kittens.git">Github repo</a></li>
                          </ul>
                </div>
                <div class = "large-12 columns">
                          <h3>URL Shortener</h3>
                          <ul class="inline-list">
                            <li><a href="https://kellynsurlshortener.herokuapp.com/">URL Shortener App</a></li>
                            <li><a href="https://github.com/JarlFlanagan/ajax_link_shortener.git">GitHub repo</a></li>
                          </ul>
                </div>
                <div class = "large-12 columns">
                          <h3>CB prototype</h3>
                          <ul class="inline-list">
                            <li><a href="http://cbixd-foundation.herokuapp.com/">CB Prototype App</a></li>
                            <li><a href="https://github.com/cbux/CBIxD-Foundation.git">GitHub Repo</a></li>
                          </ul>
                </div>
            </div>